.foto-4{
  margin-top: 50px;
  font-size: 32px;
  .row{
    .col-sm-6{
      padding: 0;
      img{
        width: 100%;
        height: auto;
      }
    }



    .content-item{
      .overlay{
        bottom: 0;
        position: absolute;
        right: 0;
      }
      &:hover .overlay{
        border-bottom: 1200px solid rgba(109, 80, 59, 0.9);; //size must be double container
        border-left: 1200px solid transparent;//size must be double container
      }
      .overlay-content{
        padding: 30px;
        left: 0;
        opacity: 0;
        display: flex;
        text-align: start;
        flex-direction: column;
        position: absolute;
        right: 0;
        top: 0;
        transition: all .2s;
        @media only screen and (max-width: 576px){
          padding-top: 70px;
          text-align: center;
        }
        .text-top{
          color: #fff;
          font-weight: 700;
          font-size: 0.5em;
        }
        .text-med{
          margin-top: 10px;
          color: #fff;
          font-size: 0.4em;
          @media only screen and (max-width: 992px){
            display: none;
          }
        }
        .text-bottom{
          &:hover{
            a{
              color: #000;
              text-decoration: none;
            }
          }
          a{
            color: #fff;
            font-weight: 700;
            font-size: 0.5em;
          }
        }
      }
      &:hover .overlay-content{
        opacity: 1;
        transition: all .5s;
      }
    }



  }
}