.block-foto{
  margin-top: 50px;
  .row{
    .col-md-6{
      position: relative;
      text-align: center;
      img{
        width: 100%;
        height: auto;
      }
      .foto-text{
        position: absolute;
        top: 41%;
        left: 26%;
        @media only screen and (max-width: 1200px){
          top: 25%;
          right: 26% ;
        }
        @media only screen and (max-width: 768px){
          top: 30% ;
        }
        p{
          color: #fff;
          font-size: 1.5em;
          font-weight: 700;
          @media only screen and (max-width: 576px){
            font-size: 1em;
          }
        }
        .sale_top{
          font-size: 2.5em;
          @media only screen and (max-width: 576px){
            font-size: 1.5em;
          }
        }
        .sale_bottom{
          font-style: italic;
        }
        button{
          padding: 13px 30px;
          white-space: nowrap;
          border: 2px solid #fff;
          background: transparent;
          position: relative;
          z-index: 0;
          @media only screen and (max-width: 576px){
            padding: 10px 20px;
          }
          &:focus{
            outline: none;
          }
          &:hover{
            &::before{
              transform: scale(1);
            }
          }
          &::before{
            content: '';
            position: absolute;
            right: 0;
            top: 0;
            left: 0;
            z-index: -1;
            bottom: 0;
            background: rgba(109, 80, 59, 0.6);
            transform: scale(0);
            transition: .3s ease;
          }
          a{
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 0.5em;
            font-weight: 700;
            &:hover{
              text-decoration: none;
            }
          }
        }
      }
      .foto-text_right{
        left: 35%;
      }
    }
  }
}