.footer{
  font-size: 32px;
 .row{
   margin-top: 50px;
   display: flex;
   justify-content: space-between;
   .foot{
     min-height: 200px;
     margin: 0;
     padding: 0;
     ul{
       list-style-type: none;
       li{
         padding: 4px 0;
         color: #000;
         font-size: 0.5em;
         &:hover{
           a{
             color: #000;
             text-decoration: none;
           }
         }
         &:first-child{
           padding-bottom: 15px;
           font-weight: 700;
           color: #343434;
         }
         a{
           color: #cda379;
           font-size: .9em;
           span{

           }
         }
       }
       .spn{
         &:hover{
           span{
             color: #cda379;
           }
         }
       }
       .footer-span{
         color: #000;
       }
       
     }
   }
   p{
     padding: 20px 0 40px 40px;
     color: #999999;
     font-size: 0.3em;
   }
 }
}