.container-fluid{
  padding: 0;
  font-size: 32px;
  .row{
    margin: 0;
    .col-md-6{
      padding: 0;
      position: relative;
      a{
        color: #fff;
        text-align: center;
        img{
          width: 100%;
          height: auto;
        }
        span{
          position: absolute;
          top: 32%;
          left: 0;
          right: 0;
          font-weight: 700;
          font-size: 1.5em;
          @media only screen and (max-width: 992px){
            font-size: 1.5em;
          }
          @media only screen and (max-width: 576px){
            font-size: 1em;
          }
        }
      }
    }

    .content-item{
      overflow: hidden;
      .overlay-right{
        position: absolute;
        bottom: 0;
        right: 0;
      }
      &:hover .overlay-right{
        border: 480px solid rgba(109, 80, 59, 0.4);
        transition: all 1s;
      }
      .overlay-left{
        position: absolute;
        top: 0;
        left: 0;
      }
      &:hover .overlay-left{
        border: 480px solid rgba(109, 80, 59, 0.4);
       /* border-top: 950px solid rgba(109, 80, 59, 0.4); //size must be double container
        border-right: 950px solid transparent;//size must be double container*/
        transition: all 1s;
      }
    }

  }
}